.App {
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.header {
  display:flex;
  justify-content:center;
}

.title {
  padding: 0 50px 0 50px;
}

.title-link:link, :visited, :active, :hover {
  color: black;
  text-decoration:none;
}

#menu-button{
  position:absolute;
  left: 1rem;
  top: 1rem;
}

.news-container {
  max-width: 80%;
  margin: 0 auto;
}

.header-divide-line {
  width: 65%;
  margin-bottom:50px;
}

.form{
  display:flex;
  justify-content:center;
}
@media only screen and (min-width:481px) {
  .form{
    margin: 30px;
  }
}


.category-stack{
  margin: 50px;
  display:flex;
  align-items:center;
}

@media only screen and (min-width: 481px) {
  .button{
    max-width: 20%;
  }
}


.authentication-stack{
  justify-content:center;
  margin: .2rem;
}
@media only screen and (min-width:481px) {
  .authentication-stack{
    margin:50px;
  }
}

.back-button{
  right:35%;
}